body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

.navbar-form
  float right
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 50px

h1
  text-align center

.item
  position: static
  white-space: nowrap
  display: inline-block
  display: -moz-inline-box
  *display inline; /* For IE7 */
  zoom: 1 /* Trigger hasLayout */
  height: 40px
  width: 40px
  background: grey
  border-radius: 0.5em
  margin: 0.2em
  border: 1 px solid grey
  cursor: pointer

.pressed
  position: static
  white-space: nowrap
  display: inline-block
  display: -moz-inline-box
  *display: inline /* For IE7 */
  zoom: 1 /* Trigger hasLayout */
  height: 40px
  width: 40px
  background: #D7DCE0
  border-radius: 0.5em
  border: 1 px solid #D7DCE0
  margin: 0.2em
  cursor: pointer

.panel-heading span
  margin-top: -20px
  font-size: 15px

.row
  margin-top: 40px
  padding: 0 10px

.clickable
  cursor: pointer

.ingredientDescription
  display: none
  border: 1px solid #ccc
  display: none
  font-size: 10px
  margin-top: 10px
  padding: 5px
  text-transform: uppercase


.action-container
  border: 1px solid

/*
.item.ng-scope:hover .ingredientDescription
  display: block
*/

