.panel.panel-primary(ng-controller="chRecipeCtrl")
    .panel-heading.text-center Top Recipes
    .panel-body
        .row(ng-repeat="recipe in recipes")
            .col-md-12
                a(href="/recipes/{{recipe._id}}") {{recipe.title}}